<div id="loginDiv">
    <form id="loginForm">
        <input id="usernameInput" type="text" placeholder="Felhasználónév..." class="input" name="username">
        <input id="passwordInput" max="18" type="password" placeholder="Jelszó..." class="input" name="passwd">
        <app-button btnId="loginBtn" btnLabel="Bejelentkezés" (click)="loginWithCredentials()"></app-button>
    </form>
    <app-button btnId="loginBtn" btnLabel="UNIcard használata" (click)="onUNIcardLoginClick()"></app-button>
    <app-button btnId="backToRegistrationBtn" btnLabel="Vissza a regisztrációhoz" (click)="backToRegistration()"></app-button>
</div>