main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
}

#mainContent {
    width: min(90vh, 90%);
    min-height: 40vh;
    display: grid;
    color: var(--main);
    transition: all 0.3s;
    justify-items: center;
    align-items: center;
}

.cardDiv {
    display: grid;
    gap: 2rem;
    width: min(400px, 100%);
}

@media screen and (max-width: 1200px) {
    main {
        flex-direction: column;
        gap: 2rem;
    }

    .cardDiv {
        width: min(600px, 90%);
    }

    #mainContent {
        order: -1;
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    main {
        padding: 0.5rem;
    }

    .cardDiv {
        gap: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    main {
        gap: 1.5rem;
    }

    #mainContent {
        min-height: 30vh;
    }

    .cardDiv {
        gap: 1rem;
        width: 95%;
    }
}