<div id="unicardDiv">
    <div id="userDataDiv">
        <p>Email: {{ userData.email }}</p>
        <p>Felhasználónév: {{ userData.username }}</p>
        <p>Nem: {{ userData.gender === '1' ? 'Férfi' : 'Nő' }}</p>
        <p>Születési Dátum: {{ userData.birthDate }}</p>
        <p>Egyetem: {{ userData.university }}</p>
        <p>Kar: {{ userData.faculty }}</p>
        <hr>
        <h1>UNIcard</h1>
    </div>
    <app-button btnId="getUNIcardBtn" btnLabel="Kérem a kártyám!" (click)="saveUniCard()"></app-button>
</div>