<form (submit)="loginWithCard($event)">
    <div id="cardContainer">
        <div class="folder">
            <div class="front-side">
                <div class="tip"></div>
                <div class="cover"></div>
            </div>
            <div class="back-side cover"></div>
        </div>
        <label class="custom-file-upload">
            <input 
                type="file" 
                accept=".jpg, .jpeg"
                (change)="onFileSelected($event)"
                #fileInput>
            Saját UNIcard-od
        </label>
    </div>
    <app-button 
        btnId="loginBtn" 
        btnLabel="Bejelentkezés kártyával" 
        type="submit">
    </app-button>
    <app-button 
        btnId="backToLoginBtn" 
        btnLabel="Bejelentkezés felhasználónévvel"
        (click)="backToCredentialLogin()">
    </app-button>
    <app-button 
        btnId="backToRegistrationBtn" 
        btnLabel="Vissza a regisztrációhoz"
        (click)="backToRegistration()">
    </app-button>
</form>