<div id="center-container">
    <div id="descriptionDiv">
        <h2>UNIverse közösségi oldal</h2>
        <hr>
        <p>Ne csak a Neptunt-t és a Krétát használd az egyetemen! Próbáld ki kis csapatunk által fejlesztett
            webapplikációt!<br>
            Kezdésnek regisztrálj az oldalra, de ha van fiókod jelentkezz be és irány az UNIverse-um!
        </p>
    </div>
    <hr>
    <div id="registerLoginBtnDiv">
        <app-button btnId="loginBtn" btnLabel="Bejelentkezés" (click)="onLoginClick()"></app-button>
        <app-button btnId="registerBtn" btnLabel="Regisztráció" (click)="onRegisterClick()"></app-button>
    </div>
</div>